<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="C:\inetpub\wwwroot\Logs\CoreCustomerAPI\${shortdate}_CoreDepositAPI_internallog.txt">

	<variable name="DefaultLayout" value="${longdate} ${level:uppercase=true} ${message} ${newline}" />
	<!--<variable name="ErrorLayout" value="${longdate} ${level:uppercase=true} ${message} ${newline} 
            Exception Type   : ${exception:format=Type}${newline}  
		         Method           : ${exception:format=method:maxInnerExceptionLevel=5:innerFormat=shortType}${newline}
             Exception Message: ${exception:format=Message}${newline} 
			 Test: ${event-properties:Test:objectpath=Method} 
       Stack Trace      : ${exception:format=StackTrace:separator=*:innerExceptionSeparator=&#xD;&#xA;&#x9;}${newline} " />-->
	<variable name="ErrorLayout" value="${longdate} ${level:uppercase=true} ${message} ${newline} 
            Exception Type    : ${event-properties:CustomizedException:objectpath=Type}${newline}
			          Exception Message : ${event-properties:CustomizedException:objectpath=InnerException}${newline}
			          Exception  Method : ${event-properties:CustomizedException:objectpath=Method}${newline}
			          Exception  Source : ${event-properties:CustomizedException:objectpath=Source}${newline}
			          Stack Trace       : ${event-properties:CustomizedException:objectpath=StackTrace}${newline} " />
	<targets>
		<target name="logfile" xsi:type="File" fileName="C:/inetpub/wwwroot/Logs/CoreDepositAPI/${shortdate}_logfile.txt"
			   layout="${DefaultLayout}">
		</target>

		<target name="fileAsException"
                xsi:type="FilteringWrapper"
                condition="length('${exception}')>0">
			<target xsi:type="File"
                    fileName="C:/inetpub/wwwroot/Logs/CoreDepositAPI/${shortdate}_logfile.txt"
                    layout="${ErrorLayout}" />
		</target>
	</targets>
	<!--${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}-->
	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile,fileAsException" />
	</rules>
</nlog>